
<div class="container">
  <div class="row my-3">
    <div class="d-flex my-1"> 

      <h1>Flights</h1>

    </div>
  </div>
</div>


<%= render partial: 'search_flights', locals: { airports: @airports }  %>


<%= render partial: 'list_flights', locals: { flights: @flights_select }  %>
