

<%= "Passenger data #{num}" %>

<% form_with model: @passenger do |form| %>

  <div class="container">
    
    <div class="form-group row mt-5">

      <div class="col-md-4">

        <%= form.text_field :first_name, class: 'passenger-input no-right-border', placeholder: 'Passenger Name' %>

      </div>

    </div>

  <%= form.submit "Search" %>


  </div>

<% end %>